.App {
  text-align: center;
}

.jvn-container {
  display: flex;
  align-items: center;
  position: static;
}

.compliment-container {
  display: flex;
  text-align: center;
  width: 50rem;
  border: 10px solid red;
  position: fixed;
}

.picture-container {
  display: block;
  vertical-align: middle;
  text-align: center;
}
.picdiv {
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 1rem;
}

#compliment-message{
  margin-top: -15rem; 
  display: block;
  vertical-align: middle;
  text-align: center;
}