body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.pictures {
  max-height:350px;
  overflow: hidden;
}

/* quick fix!  need to go into the semantic stylesheets to change this properly*/
.ui.card {
  margin: 0em 0 !important;
  margin-bottom:10px !important;
}